/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  height: 100vh;
  background: url(../public/assets/img/bg.png) no-repeat center;
  background-size: cover;
}

.base-btn {
  background: linear-gradient(180deg, #ffa74c 0%, #ff6e25 100%);
  border-radius: 0.625rem;
}

.mint-content {
  width: 71vw;
  height: 88vh;
  padding: 12.5rem;
  box-sizing: border-box;
}

.mint-mask {
  background: rgba(255, 246, 218, 0.8);
}

.nft-bg {
  background: url(../public/assets/img/mint-bg.png) no-repeat center;
  background-size: cover;
}

.nft-content {
  width: 65.5rem;
  height: 38.25rem;
  background: #fff6da;
  border-radius: 10px;
  padding: 2.5rem;
  box-sizing: border-box;
}

.nft-img {
  width: 31.25rem;
  height: 31.25rem;
  margin-right: 2rem;
}

/* loading */
.loading {
  width: 100%;
  height: 100%;
}

.loading > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

.loading > div > div {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff6e25;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-b {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-c {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-d {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading > span {
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: 30px;
  color: #ff6e25;
  font-size: 12px;
  text-align: center;
}
